
.about{
    height: 42em;
    background-color: #000;
    color: #dbdbdb;
    text-align: justify;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
}

.about section{
    margin: 25px;
}

/* Lado izquierdo */
.about .logo{
    width: 50%;
    margin-left: 0;
    margin-bottom: 10px;
}

.links{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
    padding: 4px;
}

.link1, .link2{
    display: flex;
}

.link1 img, .link2 img{
    margin: 5px;
    width: 50px;
    height: 50px;
}

.link1 a, .link2 a{
    margin-top: 10px;
    margin-left: 10px;
}

/* Lado derecho */
.info p{
    margin: 20px 0;
}

@media only screen and (max-width: 600px) {
    .about section{
        display: inline-block;
    }

}
