
.about{
    height: 39.4em;
    background-color: #252525;
    color: #dbdbdb;
    padding: 0 40px;
    text-align: justify;
    font-weight: normal;
    /* font-family: 'Poppins'; */
    display: flex;
}

.about section{
    margin-top: 3px;
    padding: 0 10px;
}

/* Lado izquierdo */
.about .logo{
    width: 50%;
    margin-left: 0;
    margin-bottom: 10px;
    cursor: inherit;
}

.grey-instagram{
    background-color: #c6c6c6;
    color: #000;
    margin-top: 1em;
    padding: 8px 0;
    text-align: center;
}

.grey-instagram img{
    display: inline-block;
    margin: 0 10px 0 0;
    height: 22px;
}

.links{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    padding: 4px;
}

.link1, .link2{
    display: flex;
}

.link1 img, .link2 img{
    margin: 5px;
    width: 50px;
    height: 50px;
}

.link1 div, .link2 div{
    margin-top: 10px;
    margin-left: 10px;
}

.about .perfil{
    width: 90%;
}
.about section h2{
    font-size: 30px;
    margin: 20px 0;
    text-align: center;
}


/* Lado derecho */
.about .info{
    margin-top: 85px;
}

.about .info p{
    margin: 0 0 30px 0;
    font-size: 13px;
}

@media only screen and (max-width: 1080px) {
    
    .about{
        height: 100%;
    }
    .about .logo{
        width: 80%;
    }
    .about .info{
        padding: 0 0 20px 0;
    }
}

@media only screen and (max-width: 840px) {
    
    .about{
        display: block;
        text-align: center;
    }

    .about .logo{
        display: inline-block;
    }

    .about .perfil{
        display: inline-block;
    }

    .about section h2{
        margin: 20px auto;
        padding: 20px;
        font-size: 35px;
    }


    .about .info p{
        text-align: justify;
    }

}

@media only screen and (max-width: 420px) {
    .about .perfil{
        width: 90%;
    }
}