
.about{
    height: 42em;
    background-color: #000;
    color: #dbdbdb;
    text-align: justify;
    font-weight: normal;
    font-family: 'Poppins';
    display: flex;
}

.about section{
    margin: 20px 0;
    padding: 25px;
}

/* Lado izquierdo */
.about .logo{
    width: 50%;
    margin-left: 0;
    margin-bottom: 10px;
    cursor: inherit;
}

.grey-instagram{
    background-color: #c6c6c6;
    color: #000;
    margin-top: 1em;
    padding: 8px 0;
    text-align: center;
}

.grey-instagram img{
    display: inline-block;
    margin: 0 10px 0 0;
    height: 22px;
}

.links{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    padding: 4px;
}

.link1, .link2{
    display: flex;
}

.link1 img, .link2 img{
    margin: 5px;
    width: 50px;
    height: 50px;
}

.link1 div, .link2 div{
    margin-top: 10px;
    margin-left: 10px;
}

.perfil{
    width: 60%;
}
section h2{
    font-size: 35px;
    margin: 10px 0 20px 0;
    text-align: center;
}


/* Lado derecho */

.info p{
    margin: 20px 10px;
    font-size: 17px;
}

@media only screen and (max-width: 1080px) {

    .about{
        height: 100%;
    }
    .about .logo{
        width: 100%;
    }
}

@media only screen and (max-width: 840px) {
    
    .about{
        display: block;
        text-align: center;
    }

    .about .logo{
        width: 70%;
    }

    .perfil{
        width: 70%;
        display: inline-block;
    }

    .info p{
        text-align: justify;
    }

}

@media only screen and (max-width: 420px) {
    .perfil{
        width: 90%;
    }
}