/* Clases del Slider */

/* Galería Slider */
.slider-gallery {
  columns: 4 320px;
  column-gap: 0.5em;
  background-color: #f9f9f9;
  margin: 1em;
}

.slider-gallery img {
  max-width: 100%;
  margin-bottom: 0.5em;

  display: block;
  outline: 2px solid #fff;
}

/* Slide tracks. En total son 4 tracks verticales */
/* De abajo hacia arriba */
.slide-track-up {
  height: calc(285px * 8);

  animation: scroll-up 110s linear infinite;
}

/* De arriba hacia abajo */
.slide-track-down {
  height: calc(285px * 8);

  animation: scroll-down 110s linear infinite;
}

@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-278px * 4));
  }
}

@keyframes scroll-down {
  100% {
    transform: translateY(0);
  }
  0% {
    transform: translateY(calc(-278px * 4));
  }
}

/* Slider horizontal */
@keyframes leftScroll {
  from {transform: translateX(0%)}
  to {transform: translateX(-67%)}
}

@keyframes rightScroll {
  from {transform: translateX(-67%)}
  to {transform: translateX(0%)}
}

.horizontal-left-scrolling-items, .horizontal-right-scrolling-items {
  display: none;
}
.horizontal-scrolling-items__item {
  white-space: nowrap;
}
.horizontal-scrolling-items__item > img {
  object-fit: cover;
  height: 380px;
  max-width: 100%;
  display: block;
  margin: 1px;
  padding: 3px;
}

@media only screen and (min-width: 1280px) {
  .overflow {
    display: flex;
    height: 58em;
    overflow-y: hidden;
  }
}

@media only screen and (min-width: 740px) and (max-width: 1280px) {
  .overflow {
    display: flex;
    height: 37.4em;
    overflow-y: hidden;
  }
}

@media only screen and (max-width: 740px) {

  .slider-gallery {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;
    overflow-x: hidden;
    margin: 0px;
  }
  .horizontal-left-scrolling-items {
    display: flex;
    width: 3000px;
    animation-name: leftScroll;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    scroll-behavior: smooth;
  }

  .horizontal-right-scrolling-items {
    display: flex;
    width: 3000px;
    animation-name: rightScroll;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    scroll-behavior: smooth;
  }


  .slide-track-up {
    display: none;
    animation-play-state: paused;
  }

  .slide-track-down {
    display: none;
    animation-play-state: paused;
  }
}
