

/* ---------------- Navbar y burger menu ------------------ */
header {
    width: 100%;
    height: 5em;
    background-color: rgb(249, 249, 249);
    display: flex;
    justify-content: flex-end;

    position: fixed;
    top: 0;
    z-index: 1;
    /* border: 1px  solid green; */
}



.logo{
    width: 22em;
    height: 90%;
    margin-right: auto;
    margin-left: 1.5em;
    margin-top: 0.6em;
    padding: 0.9em;
    display: flex;
    cursor: pointer;
    /* border: 1px  solid green; */
}

/* Menú de la barra de navegación que se ve solo en escritorio */
.navbar-menu{
    width: 90%;
    height: 20px;
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
}

.navbar-menu a:hover{
    font-weight: bold;
}

.navbar-menu img{
    width: 50%;
}

/* Contenido de Portfolio */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    opacity: 0.9;
    padding: 4px 0;
    font-size: 13.5px;
    font-weight: normal;
    min-width: 140px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    margin: 1px 0;
    padding: 2px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    font-weight: bold;
    background-color: #dcdcdc
}
  
.dropdown:hover .dropdown-content {
    display: block;
}



/* Menú hamburguesa */
.burger-menu {
    width: 30px;
    height: 20px;
    margin: 30px 60px;
    display: none;
    cursor: pointer;
    /* border: 1px  solid green; */
}

.burger-bar {
    width: 30px;
    height: 3.5px;
    background-color: rgb(0, 0, 0);
    border-radius: 0.3em;
}

.menu {
    display: none;
}

.menu-container{
    display: none;
}

.menu-col{
    width: 100%;
    height: 100%;
    margin: 8px;
    padding: 8px;
    
}


.menu-col li{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 8px;
    padding: 3px;
}

.menu-col li img{
    display: inline;
    margin: 0 5px;
}

.menu-col li > a:hover{
    font-size: 15px;
    color: rgb(90, 90, 90);
    background-color: rgb(210, 210, 210);
}

.menu-col img{
    width: 25px;
    height: 25px;
}

/* ------------- menú desplegable ------------------ */
.hidden {
    display: none;
}

.visible {
    display: inherit;
}

/* ----- animaciones--------- */
/* clickeado */
.burger-bar.clicked:nth-child(1){
    transform: rotate(45deg) translate(0.25em, 0.5em);
    transition: ease-in-out 0.4s;
}

.burger-bar.clicked:nth-child(2){
    transform: scale(0);
    transition: ease-in-out 0.4s;
}

.burger-bar.clicked:nth-child(3){
    transform: rotate(135deg) translate(-0.25em, 0.5em);
    transition: ease-out 0.4s;
}

/* no clickeado */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.7s;
}

/* Mobile */
@media only screen and (max-width: 1080px) {
    
    .navbar-menu{
        display: none;
    }

    /* Muestro el botón hamburguesa */
    .burger-menu{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    /* Muestro el menú */
    .menu{
        width: 100%;
        height: 40%;
        font-size: 14px;
        margin-top: 5em;
        background-color: rgb(231, 231, 231);
        opacity: 0.95;
        color: black;

        position: fixed;
        top: 0;
        z-index: 100;
    }


    /* Muestro el menú container*/
    .menu-container{
        width: 100%;
        margin: 10px;
        padding: 10px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        /* font-family: 'Poppins'; */
        overflow-y: scroll;
    
    }



}


@media only screen and (max-width: 840px) {
    
    .logo{
        width: 18em;
    }
    
    .menu{
        height: 100%;
        font-size: 16px;
    }

    .menu-container {
        flex-direction: column;
        margin: 4px;
        padding: 4px;
    }

    .menu-col{
        width: 100%;
        margin: 0 auto 10px;
    }

    .menu-col li{
        padding: 2px;
    }

}

@media only screen and (max-width: 480px) {
    
    .logo{
        margin: 0.6em 0 0 0;
    }
    

}
