.services {
  display: flex;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  gap: 2px; /* Espacio entre service-menu y service-image */
}
.service-menu {
  display: grid; /* CSS Grid */
  grid-template-columns: repeat(1, 1fr); /* Organizar en 1 columna */
  height: 50em;
  width: 25%; /* Ancho del menú en pantalla grande */
  background-color: #1a1a1a;
  margin: 5px;
  padding: 25px 0 30px 0;
  font-size: 13px;
}

.dropdown-header{
  display: none;
}

.dropdown-links{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dropdown-links a {
  margin-bottom: 5px;
  padding: 4px 40px; /* Reducir el ancho de los enlaces del menú */
  text-decoration: none;
  color: #f9f9f9;
  transition: background-color 0.3s;
}
.dropdown-links a:hover {
  background-color: #7d7d7d;
}
.dropdown-links a.active {
  background-color: #7d7d7d;
}

.service-image {
  flex: 1; /* Toma todo el espacio restante en pantalla grande */
  margin: 5px;
  font-size: 13px;
}

.service-image img {
  width: 100%;
  height: 50em;
  object-fit: cover;
}

.service-text {
  position: absolute;
  right: 10px;
  max-width: 250px;
  margin: 30px;
  padding: 20px;
  font-size: 16px;
  text-align: center;
  background-color: rgb(43, 43, 43, 0.7);
  color: #fff;
}


@media only screen and (min-width: 1600px) {
  .service-menu{
    height: 70em;
    font-size: 14px;
  }
  .dropdown-links a {
    margin: 0;
  }
  .service-image img {
    height: 75em;
  }
  .service-text {
    max-width: 300px;
    font-size: 20px;
  }
}


@media only screen and (max-width: 900px) {
  .services {
    flex-wrap: wrap;
    gap: 0;
  }

  .service-menu {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 15px 0 15px 0;
    font-size: 12px;
    gap: 0px; /* Espacio entre las opciones */
  }

  .service-menu a {
    border: 1px solid #f9f9f9;
    margin: 0;
    padding: 4px;
    text-align: center;
  }
  
  

  .dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    padding: 8px;
    color: #fff;
    cursor: pointer;
  }

  .dropdown-header p{
    font-size: 16px;
  }

  .dropdown-header .p2{
    font-size: 12px;
    color: #9c9c9c;
  }

  .dropdown-header i {
    font-size: 22px;
  }

  /* Agrega una clase de animación para el servicio */
  .dropdown-links.animate {
    max-height: 1000px; /* El valor máximo debe ser mayor que la altura máxima de los enlaces */
    opacity: 1;
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }

  /* Establece la altura máxima y la opacidad en 0 para ocultar por defecto */
  .dropdown-links {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }

  .dropdown-links a {
    display: block;
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    color: #f9f9f9;
    transition: background-color 0.3s;
  }

  .dropdown-links a:hover {
    background-color: #7d7d7d;
  }

  .dropdown-links a.active {
    background-color: #7d7d7d;
  }

  .service-image img {
    height: 600px;
  }

  .service-text {
    max-width: 200px;
    margin: 0;
    padding: 10px;
    font-size: 13px;
  }
}
