
.services{
    display: flex;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}
.service-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 46.2em;
    width: 80%;
    background-color: #1a1a1a;
    color: #f9f9f9;
    margin: 15px 5px 0 5px;
    padding: 20px 40px;
    font-size: 13px;
}

.service-menu a{
    margin-bottom: 8px;
    padding: 2px 0;
}
.service-menu a:hover{
    background-color: #7d7d7d;
}

.slider-menu{
    margin: 0;
}

@media only screen and (max-width: 1080px) {
    
    .services{
        display: inline-block;
    }

    .service-menu{
        height: 100%;
        width: 100%;
        margin: 0;
        font-size: 18px;
    }

    .slider-menu{
        margin: 15px 0 15px 0px;
        background-color: #fff;
    }
    
}

