@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/droid-sans-mono-2');
:root{
    margin: 0;
    box-sizing: border-box;
    --primary: #f9f9f9;
    --secondary: #4e4e4e;
    --error: #ff4a4a;
  }
  
  /* base styles & title */
body{
    font-family: "Noto Serif";
    color: var(--secondary);
    background-color: var(--primary);
}

.App{
    max-width: 960px;
    margin: 0 auto;
}
 